# Dependencies

In [2]:
# Data wrangling
import pandas as pd
import numpy as np

# Scikit
from sklearn.metrics import accuracy_score, r2_score, mean_squared_error
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, root_mean_squared_error, r2_score

# XGB
from xgboost import XGBRegressor

# Data viz
import matplotlib.pyplot as plt
import seaborn as sns

# EDA

In [3]:
df = pd.read_csv("C:/Users/rerr_/OneDrive/Desktop/portafolio/ml_scikit_regression/data/life_expectancy_data.csv")
df.head()

   Year      Status  ...  Income composition of resources  Schooling
0  2015  Developing  ...                            0.479       10.1
1  2014  Developing  ...                            0.476       10.0
2  2013  Developing  ...                            0.470        9.9
3  2012  Developing  ...                            0.463        9.8
4  2011  Developing  ...                            0.454        9.5

[5 rows x 21 columns]

In [4]:
df.shape

(2938, 21)

In [5]:
df.columns

Index(['Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [6]:
df.dtypes

Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

In [7]:
df.isna().sum()

Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [8]:
df.describe()

              Year  ...    Schooling
count  2938.000000  ...  2775.000000
mean   2007.518720  ...    11.992793
std       4.613841  ...     3.358920
min    2000.000000  ...     0.000000
25%    2004.000000  ...    10.100000
50%    2008.000000  ...    12.300000
75%    2012.000000  ...    14.300000
max    2015.000000  ...    20.700000

[8 rows x 20 columns]

# Cleaning data

## rounding numbers

In [9]:
df = df.round(2)
df.head(5)

   Year      Status  ...  Income composition of resources  Schooling
0  2015  Developing  ...                             0.48       10.1
1  2014  Developing  ...                             0.48       10.0
2  2013  Developing  ...                             0.47        9.9
3  2012  Developing  ...                             0.46        9.8
4  2011  Developing  ...                             0.45        9.5

[5 rows x 21 columns]

## column normalization

In [10]:
df.columns

Index(['Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [11]:
# normalize names (blank spaces, capital letters, etc.)
df.columns = df.columns.str.strip().str.replace("  ", " ").str.replace(" ", "_").str.replace("-", "_").str.lower()
df.columns

Index(['year', 'status', 'life_expectancy', 'adult_mortality', 'infant_deaths',
       'alcohol', 'percentage_expenditure', 'hepatitis_b', 'measles', 'bmi',
       'under_five_deaths', 'polio', 'total_expenditure', 'diphtheria',
       'hiv/aids', 'gdp', 'population', 'thinness_1_19_years',
       'thinness_5_9_years', 'income_composition_of_resources', 'schooling'],
      dtype='object')

## nulls

In [12]:
# Identify columns with null values
df.isna().sum()

year                                 0
status                               0
life_expectancy                     10
adult_mortality                     10
infant_deaths                        0
alcohol                            194
percentage_expenditure               0
hepatitis_b                        553
measles                              0
bmi                                 34
under_five_deaths                    0
polio                               19
total_expenditure                  226
diphtheria                          19
hiv/aids                             0
gdp                                448
population                         652
thinness_1_19_years                 34
thinness_5_9_years                  34
income_composition_of_resources    167
schooling                          163
dtype: int64

In [13]:
# Columns with null values
columns_with_null_values = [
    "life_expectancy",
    "adult_mortality",
    "alcohol",
    "hepatitis_b",
    "bmi",
    "polio",
    "total_expenditure",
    "diphtheria",
    "gdp",
    "population",
    "thinness_1_19_years",
    "thinness_5_9_years",
    "income_composition_of_resources",
    "schooling"
]

When the relative deviation between the mean and median is greater than 5%, I opt for the median to mitigate the influence of skewness or outliers.

In [14]:
# Comparison between mean and median values to fill nulls
df_null = df[columns_with_null_values]
diff = df_null.describe()
diff.loc["diff_%"] = ((diff.loc["mean"] - diff.loc["50%"]) / diff.loc["mean"]) * 100
diff.loc[["mean", "50%", "diff_%"]]

        life_expectancy  ...  schooling
mean          69.224932  ...  11.992793
50%           72.100000  ...  12.300000
diff_%        -4.153227  ...  -2.561599

[3 rows x 14 columns]

In [15]:
# Columns using mean value
fill_null_mean = [
    "year",
    "life_expectancy",
    "total_expenditure",
    "schooling"]

year_mean = df["year"].mean().round(2)
life_expectancy_mean = df["life_expectancy"].mean().round(2)
total_expenditure_mean = df["total_expenditure"].mean().round(2)
schooling_mean = df["schooling"].mean().round(2)

print(f"Year mean: {year_mean}")
print(f"Life expectancy mean: {life_expectancy_mean}")
print(f"Total expenditure mean: {total_expenditure_mean}")
print(f"Schooling mean: {schooling_mean}")

Year mean: 2007.52
Life expectancy mean: 69.22
Total expenditure mean: 5.94
Schooling mean: 11.99

In [16]:
# Columns using median value
fill_null_median = [
    "adult_mortality",
    "alcohol", 
    "hepatitis_b",
    "bmi",
    "polio", 
    "diphtheria", 
    "gdp", 
    "population", 
    "thinness_1_19_years", 
    "thinness_5_9_years",
    "income_composition_of_resources"]

adult_mortality_median = df["adult_mortality"].median().round(2)
alcohol_median = df["alcohol"].median().round(2)
hepatitis_b_median = df["hepatitis_b"].median().round(2)
bmi_median = df["bmi"].median().round(2)
polio_median = df["polio"].median().round(2)
diphtheria_median = df["diphtheria"].median().round(2)
gdp_median = df["gdp"].median().round(2)
population_median = df["population"].median().round(2)
thinness_1_19_years_median = df["thinness_1_19_years"].median().round(2)
thinness_5_9_years_median = df["thinness_5_9_years"].median().round(2)
income_composition_of_resources_median = df["income_composition_of_resources"].median().round(2)


print(f"Adult mortality median: {adult_mortality_median}")
print(f"Alcohol median: {alcohol_median}")
print(f"Hepatitis_B median: {hepatitis_b_median}")
print(f"BMI median: {bmi_median}")
print(f"Polio median: {polio_median}")
print(f"Diphtheria median: {diphtheria_median}")
print(f"GDP median: {gdp_median}")
print(f"Population median: {population_median}")
print(f"Thinness 1-19 years median: {thinness_1_19_years_median}")
print(f"Thinness 5-9 years median: {thinness_5_9_years_median}")
print(f"Income composition of resources median: {income_composition_of_resources_median}")

Adult mortality median: 144.0
Alcohol median: 3.76
Hepatitis_B median: 92.0
BMI median: 43.5
Polio median: 93.0
Diphtheria median: 93.0
GDP median: 1766.95
Population median: 1386542.0
Thinness 1-19 years median: 3.3
Thinness 5-9 years median: 3.3
Income composition of resources median: 0.68

In [17]:
# Fill null values with mean
for col in fill_null_mean:
    df[col] = df[col].fillna(df[col].mean())

# Fill null values with median
for col in fill_null_median:
    df[col] = df[col].fillna(df[col].median())

# Corroborate nulls
df.isna().sum()

year                               0
status                             0
life_expectancy                    0
adult_mortality                    0
infant_deaths                      0
alcohol                            0
percentage_expenditure             0
hepatitis_b                        0
measles                            0
bmi                                0
under_five_deaths                  0
polio                              0
total_expenditure                  0
diphtheria                         0
hiv/aids                           0
gdp                                0
population                         0
thinness_1_19_years                0
thinness_5_9_years                 0
income_composition_of_resources    0
schooling                          0
dtype: int64

# Regression

## Data preprocessing for regression

Since the "status" column is categorical, it gets transformed into numerical so we can add it to the model.

In [18]:
# Create label encoder object
label_encoder = LabelEncoder()

# Transform status column into numerical
df["status"] = label_encoder.fit_transform(df["status"])
print(df["status"])

0       1
1       1
2       1
3       1
4       1
       ..
2933    1
2934    1
2935    1
2936    1
2937    1
Name: status, Length: 2938, dtype: int64

## Define dependent and independent variables.

Since we are trying to predict life expectancy, that's the independent variable.

In [19]:
# Dependent variables
X = df.drop(columns="life_expectancy")

# Independent variables
y = df["life_expectancy"]

Divide between test sets and training sets, using 80% of the data to train and 20% to test.

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## XGB

In [ ]:
xgbr = XGBRegressor(
    learning_rate=0.1,
    n_estimators=100,
    max_depth=5
)

###